a.internal-link {
  color: #00ff00 !important;
  text-decoration: underline !important;
}
a.internal-link:hover {
  color: #00cc00 !important;
  text-decoration: underline !important;
}

a.external-link {
  color: #00ff00 !important;
  text-decoration: underline !important;
}
a.external-link:hover {
  color: #00cc00 !important;
  text-decoration: underline !important;
}

a.unresolved-link {
  color: #ff0000 !important;
  text-decoration: line-through !important;
}
