a.internal-link {
  color: #00bfa5 !important;
  text-decoration: none !important;
  text-decoration-thickness: 2px !important;
}
a.internal-link:hover {
  color: #8ef6e4 !important;
  text-decoration: none !important;
  text-decoration-thickness: 2px !important;
}

a.unresolved-link {
  color: #ff0000 !important;
  text-decoration: line-through !important;
}
